/dataset/**
/data/**
/images/**
/images_egoschema/**
/images_nextqa/**
/images_momaqa/**

/vlap/lightning_logs/**


**.lock
**.json
**.ckpt
**.pth
**.pyc


**.mp4
**.png
**.jpg

**.lock
**.zip

Ego4D/
