opencv-python==4.11.0.86
# blobfile==2.1.1
retry==0.9.2
portalocker==2.10.1
filelock==3.18.0
openai==1.37.1
langchain-openai==0.1.20 
langchain==0.2.17
langgraph==0.3.24
pandas==2.2.2
pillow==10.4.0
azure-core==1.31.0
azureml-core==1.57.0.post1
azureml-mlflow==1.57.0.post1
mlflow==2.16.2
google-genai==1.9.0
python-dotenv==1.1.0
spacy==3.8.5